
.card-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; 
    width: 100%;
    flex-wrap: wrap; 
    gap: 20px; 
}

.card {
    background-color: #003366;
    color: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: calc(33.33% - 20px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    min-height: 200px; 
    box-sizing: border-box; 
    cursor: pointer; 
}

.card:hover {
    background-color: #005f87; 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}

.card h3 a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #ccc;
    line-height: 1.5;
}


